.heart-wrapper {
  padding: 20px 0;
  float: right;
  cursor: pointer;
}

.image-banner {
  width: 100%;  
  max-height: 250px; 
  object-fit: cover; 
  margin-top: 40px;  
  border-radius: 10px;  
}

.consultant-detail-wrapper {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 40px 40px 40px;
  margin: 120px 60px 20px 60px;
  border-radius: 8px;
  box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
  -webkit-box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
  -moz-box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
}

.consultant-detail-title {
  margin: 40px 0 0 0;
  text-transform: capitalize;
}

.consultant-detail-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 40px;
  background-color: rgb(220, 220, 220);
  margin-top: 25px;
}

.consultant-detail-image-empty {
  border-radius: 10px;
  height: 250px;
  width: 250px;
  object-fit: contain;
  background-color: rgb(220, 220, 220);
}

.consultant-detail-price {
  font-weight: 650;
  color: #57946C;
  margin: 10px 0;
  font-size: 22px;
}

.consultant-detail-offer-pane {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
  -webkit-box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
  -moz-box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
}

.consultant-detail-offer-pane-header {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #E5FFD5;
  color: #6AB484;
  font-size: 18px;
}

.similar-consultant-wrapper {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 60px;
  box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
  -webkit-box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
  -moz-box-shadow: 0px 2px 9px 4px rgba(216,216,216,0.5);
}

.consultant-detail-redirect-button {
  border-radius: 40px;
  background-color: #57946C;
  color: #ffffff;
  border: 1px solid #57946C;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
  width: 85%;
}

.similar-consultant-price {
  font-weight: 650;
  color: #57946C;
  margin: 10px 0;
}

.similar-consultant-rating{
  display: flex;
  align-items: center;
}

.center-wrapper {
  justify-content: center;
}

.similar-consultant-title {
  font-weight: 500;
  margin: 10px 30px 0 0;
  height: 75px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}