.navbar-wrapper{
  width: 100%;
  padding: 10px 40px;
  z-index: 9999;
  background-color: white;
  align-content: right;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navbar-full-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.navbar-menu{
  display: flex;
}

.navbar-menu .item{
  margin: 20px;
  cursor: pointer;
}

.navbar-menu .item-text{
  margin: 0 10px;
  cursor: pointer;
}

.navbar-menu .login-prompt-btn{
  margin: 0 10px;
  padding: 0 15px;
  color: #FFFFFF;
  background-color: #6AB484;
  border-radius: 4px;
  cursor: pointer;
}

.text-no-margin h5{
  margin-bottom: 1px !important;
}

.text-no-margin h6{
  margin-top: 1px !important;
}
.menu-item{
  color: #232323;
  font-weight: 500;
}
.menu-item.active{
  color: #6AB484;
  font-weight: 600;
}